<h4><{$sitename}> <{$lang_main_partner}></h4>

<table style='margin: 0px; border-width: 0px; width: 95%;'>
    <tr>
        <td style='width: 50%; text-align: left;'><{$partner_join}></td>
        <td style='width: 50%; text-align: left;'><{$pagenav}></td>
    </tr>
</table>

<table class='outer' style='margin: 1px; width: 98%;'>
    <tr>
        <th style='width: 5%; text-align: left;' nowrap='nowrap'><{$lang_partner}></th>
        <th style='text-align: left;'><{$lang_desc}></th>
        <th style='width: 1%; text-align: left;' nowrap='nowrap'><{$lang_hits}></th>
    </tr>

    <{section name=partner loop=$partners}>
    <tr>
        <td class='even' style='width: 5%; vertical-align: middle; text-align:' center'><{$partners[partner].image}></td>
        <td class='odd' align='left' valign='top'><b><a href="<{$partners[partner].url}>" title="<{$partners[partner].title}>" target="_blank"><{$partners[partner].title}></a></b> <br /><{$partners[partner].description}><{$partners[partner].admin_option}></td>
        </td>
        <td class='even' style='width: 1%; vertical-align: middle; text-align: center;'><{$partners[partner].hits}></td>
    </tr>
    <{sectionelse}>

    <tr>
        <td class='even' style='vertical-align: middle; text-align: center;' colspan='3'><{$lang_no_partners}></td>
    </tr>
    <{/section}>

</table>

<table style='margin: 0px; border-width: 0px; width: 98%;'>
    <tr>
        <td style='width: 50%; text-align: left;'><{$partner_join}></td>
        <td style='width: 50%; text-align: left;'><{$pagenav}></td>
    </tr>
</table>
